*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
      font-family: "Roboto", sans-serif;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.form{
    background-color: #fff;
}
.fieldset{
    margin: 12px;
    padding: 23px;
    border-radius: 12px;
}
.input{
    padding: 6px 12px ;
    border-radius: 15px;
    border: 1px solid lightgray;
    margin: 6px;
}
.radio-group {
    margin-top: 10px;
}